@using EntityLayer.Concrete
@model AllEntities

@{
    Layout = null;

    #region About

    About latestAbout = Model.Abouts.LastOrDefault();
    if (latestAbout != null || latestAbout ==null)
    {
        latestAbout.AboutTitle = string.IsNullOrEmpty(latestAbout?.AboutTitle) ? "Varsayılan hakkımızda başlığı." : latestAbout.AboutTitle;
        latestAbout.AboutDetail = string.IsNullOrEmpty(latestAbout?.AboutDetail) ? "Varsayılan hakkımızda detay yazısı." : latestAbout.AboutDetail;
        latestAbout.AboutFirstImage = string.IsNullOrEmpty(latestAbout?.AboutFirstImage) ? "Varsayılan hakkımızda resmi." : latestAbout.AboutFirstImage;
        latestAbout.AboutFirstSentence = string.IsNullOrEmpty(latestAbout?.AboutFirstSentence) ? "Varsayılan hakkımızda ilk cümlesi." : latestAbout.AboutFirstSentence;
        latestAbout.AboutSecondSentence = string.IsNullOrEmpty(latestAbout?.AboutSecondSentence) ? "Varsayılan hakkımızda ikinci cümlesi." : latestAbout.AboutSecondSentence;
        latestAbout.AboutThirdSentence = string.IsNullOrEmpty(latestAbout?.AboutThirdSentence) ? "Varsayılan hakkımızda üçüncü cümlesi." : latestAbout.AboutThirdSentence;
        latestAbout.AboutSecondImage = string.IsNullOrEmpty(latestAbout?.AboutSecondImage) ? "Varsayılan hakkımızda  ikinci resmi." : latestAbout.AboutSecondImage;
        latestAbout.AboutFirstTitle = string.IsNullOrEmpty(latestAbout?.AboutFirstTitle) ? "Varsayılan hakkımızda ilk başlık." : latestAbout.AboutFirstTitle;
        latestAbout.AboutFirstExplanation = string.IsNullOrEmpty(latestAbout?.AboutFirstExplanation) ? "Varsayılan ilk açıklama." : latestAbout.AboutFirstExplanation;
        latestAbout.AboutSecondTitle = string.IsNullOrEmpty(latestAbout?.AboutSecondTitle) ? "Varsayılan  ikinci başlık." : latestAbout.AboutSecondTitle;
        latestAbout.AboutSecondExplanation = string.IsNullOrEmpty(latestAbout?.AboutSecondExplanation) ? "Varsayılan ikinci açıklama." : latestAbout.AboutSecondExplanation;
        latestAbout.AboutThirdTitle = string.IsNullOrEmpty(latestAbout?.AboutThirdTitle) ? "Varsayılan üçüncü başlık." : latestAbout.AboutThirdTitle;
        latestAbout.AboutThirdExplanation = string.IsNullOrEmpty(latestAbout?.AboutThirdExplanation) ? "Varsayılan üçüncü açıklama." : latestAbout.AboutThirdExplanation;
        latestAbout.AboutFourthTitle = string.IsNullOrEmpty(latestAbout?.AboutFourthTitle) ? "Varsayılan dördüncü başlık." : latestAbout.AboutFourthTitle;
        latestAbout.AboutFourthExplanation = string.IsNullOrEmpty(latestAbout?.AboutFourthExplanation) ? "Varsayılan dördüncü açıklama." : latestAbout.AboutFourthExplanation;
        latestAbout.AboutFooterImage = string.IsNullOrEmpty(latestAbout?.AboutFooterImage) ? "Varsayılan footer resim." : latestAbout.AboutFooterImage;
        latestAbout.AboutFooterTitle = string.IsNullOrEmpty(latestAbout?.AboutFooterTitle) ? "Varsayılan footer başlık." : latestAbout.AboutFooterTitle;
        latestAbout.AboutFooterText = string.IsNullOrEmpty(latestAbout?.AboutFooterText) ? "Varsayılan footer açıklama." : latestAbout.AboutFooterText;
    }
    #endregion
}


@* <!-- Page Title -->
<div class="page-title dark-background" data-aos="fade" style="background-image: url(~/WebTemplate/assets/img/about-page-title-bg.jpg);">
    <div class="container">
        <h1>Hakkımızda</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="index.html">Anasayfa</a></li>
                <li class="current">Hakkımızda</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title --> *@
<!-- About Section -->
@* <section id="about" class="about section">

    <div class="container">

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-5">
                <img src="~/WebTemplate/assets/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">
                <div class="content">
                    <h3>@latestAbout.AboutTitle</h3>
                    <p>
                       @latestAbout.AboutDetail
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle-fill"></i> <span>@latestAbout.AboutFirstSentence</span></li>
                        <li><i class="bi bi-check-circle-fill"></i> <span>@latestAbout.AboutSecondSentence</span></li>
                        <li><i class="bi bi-check-circle-fill"></i> <span>@latestAbout.AboutThirdSentence</span></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</section><!-- /About Section -->
 *@<!-- Why Us Section -->
<section id="why-us" class="why-us section">

    <div class="container">

        <div class="row g-0">

            <div class="col-xl-5 img-bg" data-aos="fade-up" data-aos-delay="100">
                <img src="~/WebTemplate/assets/img/why-us-bg.jpg" alt="">
            </div>

            <div class="col-xl-7 slides position-relative" data-aos="fade-up" data-aos-delay="200">

                <div class="swiper init-swiper">
                    <script type="application/json" class="swiper-config">
                        {
                          "loop": true,
                          "speed": 600,
                          "autoplay": {
                            "delay": 5000
                          },
                          "slidesPerView": "auto",
                          "centeredSlides": true,
                          "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                          },
                          "navigation": {
                            "nextEl": ".swiper-button-next",
                            "prevEl": ".swiper-button-prev"
                          }
                        }
                    </script>
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="item">
                                <h3 class="mb-3">@latestAbout.AboutFirstTitle</h3>
                                <p>@latestAbout.AboutFirstExplanation</p>
                            </div>
                        </div><!-- End slide item -->

                        <div class="swiper-slide">
                            <div class="item">
                                <h3 class="mb-3">@latestAbout.AboutSecondTitle</h3>
                                <p>@latestAbout.AboutSecondExplanation</p>
                            </div>
                        </div><!-- End slide item -->

                        <div class="swiper-slide">
                            <div class="item">
                                <h3 class="mb-3">@latestAbout.AboutThirdTitle</h3>
                                <p>@latestAbout.AboutThirdExplanation</p>
                            </div>
                        </div><!-- End slide item -->

                        <div class="swiper-slide">
                            <div class="item">
                                <h3 class="mb-3">@latestAbout.AboutFourthTitle</h3>
                                <p>@latestAbout.AboutFourthExplanation</p>
                            </div>
                        </div><!-- End slide item -->

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>

        </div>

    </div>

</section><!-- /Why Us Section -->
<!-- Call To Action Section -->
<section id="call-to-action" class="call-to-action section dark-background">

    <img src="~/WebTemplate/assets/img/cta-bg.jpg" alt="">

    <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-xl-10">
                <div class="text-center">
                    <h3>@latestAbout.AboutFooterTitle</h3>
                    <p>@latestAbout.AboutFooterText</p>
                    @* <a class="cta-btn" href="#">Call To Action</a> *@
                </div>
            </div>
        </div>
    </div>

</section><!-- /Call To Action Section -->
<!-- Team Section -->
@* <section id="team" class="team section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Our Team</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="team-member">
                    <div class="member-img">
                        <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Walter White</h4>
                        <span>Chief Executive Officer</span>
                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="team-member">
                    <div class="member-img">
                        <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Sarah Jhonson</h4>
                        <span>Product Manager</span>
                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="team-member">
                    <div class="member-img">
                        <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>William Anderson</h4>
                        <span>CTO</span>
                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                <div class="team-member">
                    <div class="member-img">
                        <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Amanda Jepson</h4>
                        <span>Accountant</span>
                    </div>
                </div>
            </div><!-- End Team Member -->

        </div>

    </div>

</section><!-- /Team Section --> *@
